<div id="about-banner" style="background-image: url('https://api.yimian.xyz/img?type=moe&size=1920x1080')">
    <div id="article-banner">
        <h2>关于我</h2>
        <p class="post-date"></p>
    </div>
</div>

<main class="app-body project-app">
    <div class="markdown-content card-container" style="display: block">
        <blockquote style="border-left: 3px solid #c2bbe4">
           联系方式
        </blockquote>
        <blockquote style="border-left: 3px solid #d121ff">
            <span style="display: block; margin-top: .5rem">Telegram: <a href="https://t.me/haozi" target="_blank">@haozi</a><br></span>
            <span style="display: block; margin-top: .5rem">Email:   <a href = "mailto: i@haozi.moe" target="_blank">i#haozi.moe</a><br></span>
            <span style="display: block; margin-top: .5rem">Github:   <a href="https://github.com/haozi23333" target="_blank">@haozi23333</a><br></span>
        </blockquote>
    </div>
    <div id="comments" class="card-container" style="display: block"></div>
</main>

<script>
    (function () {
        var gitmentConfig = "<%= theme['gitment_owner'] %>";
        if (gitmentConfig !== 'undefined') {
            const gitalk = new Gitalk({
                clientID: "<%= theme['gitment_oauth_id'] %>",
                clientSecret: "<%= theme['gitment_oauth_secret'] %>",
                repo: "<%= theme['gitment_repo'] %>",
                owner: "<%= theme['gitment_owner'] %>",
                admin: ['haozi23333'],
                labels: ['gitment'],
                id: "关于",      // Ensure uniqueness and length less than 50
                distractionFreeMode: false  // Facebook-like distraction free mode
            })
            gitalk.render('comments')
        }


        $(document).ready(() => {
            const ul = document.getElementById("friends");
            if (!ul) {
                return
            }
            const lis = Array.prototype.slice.call(ul.childNodes, 0);
            let i = lis.length;
            while(i-- > 0)ul.insertBefore(lis[i], lis[parseInt(Math.random() * lis.length)])
        })
    })();
</script>
