<main class="app-body">
    <% page.posts.each(function(post) { %>
        <% post.tags.each(function(tag) { %>
            <% if (tag.name === 'timeline') { %>
                <article class="article-card timeline-card" style="padding-left: 0px; margin-bottom: 40px">
                    <div style="border-left: 1px dotted #ccc;padding-left: 30px;position: relative;margin-top: 15px; margin-bottom: 15px;padding-left: 20px">
                        <img style="height: 25px; left: -100px;position: absolute;top: calc(50% - 12.5px)" src="/css/images/timeline.svg" alt="">
                        <div class="article-summary">
                            <%- post.excerpt %>
                        </div>
                        <div style="margin-top: 20px">
                            <div style="float: left;width: 80px">
                                <a href="<%- url_for(post.path) %>">
                                    <img style="height: 20px;width: 20px;float: left;margin-top: 3px" src="/css/images/comment.svg" alt="">
                                    <div style="line-height: 27px;margin-left: 30px">评论</div>
                                </a>
                            </div>
                            <div style="float: left;color: #42b983;margin-right: 20px;line-height: 27px"><%- date(post.date, "LL") %></div>
                            <div style="float: left" >
                                <% if (post.tags && post.tags.length) { %>
                                    <%- partial('_partial/tag', { tags: post.tags }) %>
                                <% } %>
                            </div>

                        </div>
                    </div>
                </article>
                <% post.isTimeline = true %>
            <% }%>
        <% }) %>
        <% if (!post.isTimeline) { %>
    <article class="article-card">

        <h2 class="article-head">
            <a href="<%- url_for(post.path) %>"><%- post.title %></a>
        </h2>
        <p class="article-date"><%- date(post.date, "LL") %></p>
        <% if (post.tags && post.tags.length) { %>
            <%- partial('_partial/tag', { tags: post.tags }) %>
        <% } %>
        <div class="article-summary">
            <% if (post.excerpt) { %>
                <%- post.excerpt %>
            <% } else { %>
                <%- truncate(strip_html(post.content), { length: 150, omission: ' ...' }) %>
            <% } %>
        </div>
        <div>
            <a class="more" href="<%- url_for(post.path) %>">
                <img  style="height: 20px;width: 20px;float: left;margin-right: 4px" src="/css/images/timeline.svg" alt="">
                <%- theme.excerpt_link %>
            </a>
        </div>
        <% }%>

    </article>
        <% }) %>

    <% if (page.total > 1){ %>
        <%- partial('_partial/pager') %>
    <% } %>

    <!--    <div class="markdown-content" style="position: fixed; height: 300px; width: 500px; background: white;top: 200px">-->
    <!--        本站已经启用 Google Analytics, 以及一些自定义的埋点事件,-->
    <!--        将会收集一些包括但不限于 您的 UI 点击事件, referrer 信息, Gitalk 登录状态等-->
    <!--        收集的信息将用来改善您的使用体验-->
    <!--        如果想知道更多相关信息, 请点击 <a href="" target="_blank">阅读详情</a>-->
    <!--        <blockquote style="border-left: 3px solid #e40600">即使您点击了拒绝分享, Google Analytics 仍然会加载, 但不会加载自定义埋点事件</blockquote>-->
    <!--        <br>-->
    <!--        <div style="height: 30px; float: left;margin-left: 3rem">同意分享</div>-->
    <!--        <div style="height: 30px; float: left;margin-left: 3rem">拒绝分享</div>-->
    <!--    </div>-->

</main>

